<!-- <div class="employees-panel">

</div> -->
<!-- <code>
	{{objects}}
</code> -->
<div class="debug" ng-show="showDebugPanel">
	<pre>{{selectedObject.attr}}</pre>
	<pre>{{selectedEmployee}}</pre>
</div>

<div id="floor-map-controls-container">
	<div class="form-group" id="floor-map-controls">
		<div class="btn-group" dropdown is-open="status.isopen">
			<button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
				Add <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="" ng-click="addObject('rectangle')">Rectangle</a></li>
				<li><a href="" ng-click="addObject('square')">Square</a></li>
				<li><a href="" ng-click="addObject('circle')">Circle</a></li>
				<!-- <li><a href="" ng-click="addObject('triangle')">Triangle</a></li> -->
				<li class="divider"></li>
				<li><a href="" ng-click="addObject('L-shape')">L Shape</a></li>
				<li><a href="" ng-click="addObject('T-shape')">T Shape</a></li>
				<li><a href="" ng-click="addObject('Z-shape')">Z Shape</a></li>
				<li class="divider"></li>
				<!-- <li><a href="" ng-click="addObject('room')">Room</a></li> -->
				<li><a href="" ng-click="addObject('label-rect')">Labeled Rect</a></li>
			</ul>
		</div>
		<!-- <button class="btn btn-primary" ng-click="updateEmployees()">Save (Not Working)</button> -->
		<button class="btn btn-primary" ng-click="toggleLock()">Lock/Unlock</button>
		<button class="btn btn-primary" ng-click="serializeCanvas()">Serialize</button>
		<button class="btn btn-warning" ng-click="showDebugPanel = !showDebugPanel">Debug Panel</button>
		<label >Grid <input type="checkbox" ng-model="showGrid" ng-change="toggleGrid()"></label>
	</div>
</div>
<div id="floor-planner-container">
	<floor-canvas ng-class="{'has-grid': showGrid}"></floor-canvas>

	<div class="edit-box" ng-style="editBoxPosition" ng-click="$event.stopPropagation()">
		
		<div class="margin-top-0">
			width: <input class="form-control" type="number" step="10" min="10" ng-disabled="true" ng-model="selectedObject.attr.width">
			height: <input class="form-control" type="number" step="10" min="10" ng-disabled="true" ng-model="selectedObject.attr.height">
			<button class="btn btn-success" colorpicker type="button" colorpicker-position="left" ng-model="selectedObject.attr.fill">Change Color</button><br>
			<button class="btn btn-success" ng-click="selectedObject.updateAttr()">Update</button><br>
			
			<button class="btn btn-danger" ng-click="removeObject()">Delete</button><br>
			<ui-select ng-model="selectedEmployee.selected" theme="bootstrap" ng-disabled="disabled" >
				<ui-select-match placeholder="Select or search employee...">{{$select.selected.name}}</ui-select-match>
				<ui-select-choices repeat="employee in employees | filter: $select.search">
					<span ng-bind-html="employee.name | highlight: $select.search"></span>
				</ui-select-choices>
			</ui-select>
			<button class="btn btn-success" ng-click="selectedObject.assignEmployee()">Assign Employee</button><br>
			<div ng-hide="!selectedObject.attr.label">
				
				name: <input class="form-control" type="text" ng-model="selectedObject.attr.label.name">
				id: <input class="form-control" type="number" ng-model="selectedObject.attr.label.id">
				department: <input class="form-control" type="text" ng-model="selectedObject.attr.label.department">
			</div>
			
		</div>
	</div>
</div>
