<div class="employees-panel">
<ui-select ng-model="country.selected" theme="bootstrap" ng-disabled="disabled" >
	<ui-select-match placeholder="Select or search employee...">{{$select.selected.name}}</ui-select-match>
	<ui-select-choices repeat="employee in employees | filter: $select.search">
		<span ng-bind-html="employee.name | highlight: $select.search"></span>
		<small>desk id: <span ng-bind-html="employee.deskID | highlight: $select.search"></span></small>
	</ui-select-choices>
</ui-select>
</div>

<div class="form-group">
	<button class="btn btn-primary" ng-click="addDesk()">Toggle Add Desk</button>
	<button class="btn btn-primary" ng-click="updateEmployees()">Save</button>
	<button class="btn btn-primary" ng-click="editDesks()">Toggle Edit</button>
</div>
<code>
	<ul ng-model="myDesks">
		<li ng-repeat="desk in myDesks">{{desk}}</li>
	</ul>
</code>
<div id="floor-map-container">
	<floor-map desks-data="myDesks"></floor-map>
	<div class="edit-box" ng-style="editBoxPosition" ng-click="$event.stopPropagation()">
		<button class="btn btn-success">Edit</button>
		<button class="btn btn-success">Rotate</button>
		<button class="btn btn-success">Assign Employee</button>
		<button class="btn btn-danger">Delete</button>
	</div>
</div>