<!-- <div class="employees-panel">

</div> -->
<!-- <code>
	{{objects}}
</code> -->
<div id="floor-map-controls-container">
	<div class="form-group" id="floor-map-controls">
		<div class="btn-group" dropdown is-open="status.isopen">
			<button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
				Add <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="" ng-click="addObject('rectangle')">Rectangle</a></li>
				<li><a href="" ng-click="addObject('square')">Square</a></li>
				<li><a href="" ng-click="addObject('circle')">Circle</a></li>
				<li><a href="" ng-click="addObject('triangle')">Triangle</a></li>
				<li class="divider"></li>
				<li><a href="" ng-click="addObject('L-shape')">L Shape</a></li>
				<li><a href="" ng-click="addObject('T-shape')">T Shape</a></li>
				<li><a href="" ng-click="addObject('Z-shape')">Z Shape</a></li>
			</ul>
		</div>
		<!-- <button class="btn btn-primary" ng-click="addObject()">Add Object</button> -->
		<button class="btn btn-primary" ng-click="updateEmployees()">Save (Not Working)</button>
		<button class="btn btn-primary" ng-click="editDesks()">Lock/Unlock</button>
		<button class="btn btn-primary" ng-click="serializeCanvas()">Serialize</button>
	</div>
</div>
<div id="floor-planner-container">
	<floor-canvas></floor-canvas>

	<div class="edit-box" ng-style="editBoxPosition" ng-click="$event.stopPropagation()">
		<ui-select ng-model="selectedEmployee.selected" theme="bootstrap" ng-disabled="disabled" >
			<ui-select-match placeholder="Select or search employee...">{{$select.selected.name}}</ui-select-match>
			<ui-select-choices repeat="employee in employees | filter: $select.search">
				<span ng-bind-html="employee.name | highlight: $select.search"></span>
				<small>desk id: <span ng-bind-html="employee.deskID | highlight: $select.search"></span></small>
			</ui-select-choices>
		</ui-select>
		<div class="margin-top-0">
			<button class="btn btn-success" ng-click="assignEmployee()">Assign Employee</button>
			<button class="btn btn-danger" ng-click="removeObject()">Delete</button>
		</div>
	</div>
</div>
